<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.creative-tim.com?ref=bda-footer">
          Made with love by SINEP SOLUTION
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.creative-tim.com/about-us?ref=bda-footer">
         
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="http://blog.creative-tim.com?ref=bda-footer"></a>
      </li>
    </ul>
    <div class=" copyright">
     
      
      <a href="https://www.creative-tim.com?ref=bda-footer" target="_blank">  </a>
      
    </div>
  </div>
</footer>
