<div class=" content">
  <div [hidden]="authenticated()">
    <p>Connectez-vous pour afficher l'interface utilisateur</p>
    <a href="/users">Retour</a>
  </div>
  <div [hidden]="!authenticated()">

    <h4>Ajouter un utilisateur</h4>

    <form [formGroup] = "myForm" (ngsubmit)="createUser(myForm)">
      <div class=" row">
        <div class=" col-md-5 pr-md-1">
        <label>Nom</label>
        <input type="text" class="form-control" [(ngModel)]="user.nomUtilisateur"  formControlName="nomUtilisateur"/>
        </div>
        <div class=" col-md-5 pr-md-1">
        <label>Prénom</label>
        <input type="text" class="form-control" [(ngModel)]="user.prenomUtilisateur" formControlName="prenomUtilisateur" />
        </div></div>
        <div class=" row">
          <div class=" col-md-5 pr-md-1">
        <label>Username</label>
        <input type="text" class="form-control" [(ngModel)]="user.username" formControlName="username"/>
        </div>
        <div class=" col-md-5 pr-md-1">
        <label>Password</label>
        <input type="password" class="form-control" [(ngModel)]="user.password" formControlName="password"/>
        </div></div>
        <div class=" row">
          <div class=" col-md-5 pr-md-1">
        <label>Email</label>
        <input type="text" class="form-control" [(ngModel)]="user.email" formControlName="email"/><br>
        </div></div>
      <button class="btn btn-success animation-on-hover">Ajouter</button>
    </form>
  </div>

  <div [hidden]="!authenticated()">
    <div class=" row">
    </div>
    <div class="row">
      <div class=" col-md-12">
        <div class=" card card-plain">
          <div class=" card-header">
            <h4 class=" card-title">Liste des affaires</h4>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Reference</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let a of affaires">
                    <td>{{a.reference}}</td>
                    <td>{{a.titre}}</td>
                    <td>{{a.description}}</td>
                    <td>
                      <button class=" btn btn-fill btn-danger " (click)="deleteAffaire(a)">Supprimer</button>
                      &nbsp;
                      <button class=" btn btn-fill btn-danger" (click)="editAffaire(a)">Editer</button>
                      &nbsp;
                      <button class=" btn btn-fill btn-danger" (click)="archiveAffaire(a)">Archiver</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div [hidden]="!authenticated()">
    <div class=" row">
    </div>
    <div class="row">
      <div class=" col-md-12">
        <div class=" card card-plain">
          <div class=" card-header">
            <h4 class=" card-title">Liste des utilisateurs</h4>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of users">
                    <td>{{u.nomUtilisateur}}</td>
                    <td>{{u.prenomUtilisateur}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.username}}</td>
                    <td>{{u.password}}</td>
                    <td>
                      <button class=" btn btn-fill btn-danger " (click)="deleteUser(u)">Supprimer</button>
                      &nbsp;
                      <button class=" btn btn-fill btn-danger" (click)="editUser(u)">Editer</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>