<div class=" content">
  <!--<div [hidden]="authenticated()">
    <p>Connectez-vous pour afficher l'interface utilisateur</p>
    <a href="/login">Retour</a>
  </div>

  <div [hidden]="!authenticated()">-->
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Ajouter un Client</h5>
        </div>
        <div class=" card-body">
          <form (ngSubmit)="createTier()">
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Adresse </label>
                  <input class=" form-control" type="text" [(ngModel)]="tier.adresse" name="adresse" />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Téléphone </label>
                  <input class=" form-control" type="text" [(ngModel)]="tier.tel" name="tel" />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Domaine </label><br>
                  <input type="radio" [(ngModel)]="tier.type" name="Particulier"> Particulier
                  <input type="radio" [(ngModel)]="tier.type" name="Professionel"> Professionnel
                </div>
              </div>
            </div>
            <div class=" card-footer">
              <button class=" btn btn-fill btn-danger" type="submit">Ajouter</button>
            </div>
          </form>
        </div>

        <div class="row">
          <div class=" col-md-12">
            <div class=" card card-plain">
              <div class=" card-header">
                <h4 class=" card-title">Liste des Particuliers</h4>
              </div>
              <div class=" card-body">
                <div class=" table-responsive">
                  <table class=" table tablesorter" id="">
                    <thead class=" text-primary">
                      <tr>
                        <th>Adresse</th>
                        <th>Téléphone</th>
                        <th>CIN</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let  of tier">
                        <td>{{t.adresse}}</td>
                        <td>{{t.tel}}</td>
                        <td>{{t.cin}}</td>
                        <td>{{t.nom}}</td>
                        <td>{{t.prenom}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" col-md-12">
            <div class=" card card-plain">
              <div class=" card-header">
                <h4 class=" card-title">Liste des Professionnels</h4>
              </div>
              <div class=" card-body">
                <div class=" table-responsive">
                  <table class=" table tablesorter" id="">
                    <thead class=" text-primary">
                      <tr>
                        <th>Adresse</th>
                        <th>Téléphone</th>
                        <th>Raison Sociale</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let t of tiers">
                        <td>{{t.adresse}}</td>
                        <td>{{t.tel}}</td>
                        <td>{{t.raisonSocial}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>