<div class=" content">

  <div [hidden]="authenticated()">
    <p>Connectez-vous pour afficher l'interface utilisateur</p>
    <a href="/login">Retour</a>
  </div>


  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div [hidden]="!authenticated()">
          <div class=" card-header">
            <h5 class=" title">Ajouter un Document</h5>
          </div>
        </div>
        <div class=" card-body">
          <form (ngSubmit)="createDocument()">
            <div [hidden]="!authenticated()">
              <div class=" row">
                <div class=" col-md-6 pr-md-1">
                  <div class=" form-group">
                    <label> Nom du document </label>
                    <input class=" form-control" type="text" [(ngModel)]="document.nomDocument" name="nomDocument" />
                  </div>
                </div>
                <div class=" col-md-6 pl-md-1">
                  <div class=" form-group">
                    <label> Description </label>
                    <input class=" form-control" type="text" [(ngModel)]="document.description" name="description" />
                  </div>
                </div>
                <div class=" col-md-6 pl-md-1">
                  <div class=" form-group">
                    <label> Date de création </label>
                    <input class=" form-control" type="date" [(ngModel)]="document.dateCreation" name="dateCreation" />
                  </div>
                  <div class=" card-footer">
                    <button class=" btn btn-fill btn-danger" type="submit">Ajouter</button>
                  </div>
                </div>
              </div>
            </div>
        <div class=" row">
        </div>
        <div class="row">
          <div class=" col-md-12">
            <div class=" card card-plain">
              <div class=" card-header">
                <h4 class=" card-title">Liste des documents</h4>
              </div>
              <div class=" card-body">
                <div class=" table">
                  <table class=" table tablesorter" id="">
                    <thead class=" text-primary">
                      <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let d of documents">
                        <td>{{d.nom}}</td>
                        <td>{{d.description}}</td>
                        <td>
                          <button class=" btn btn-fill btn-danger " (click)="deleteDocument(d)">Supprimer</button>
                          &nbsp;
                          <button class=" btn btn-fill btn-danger" (click)="updateDocument(d)">Edit</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>